@tailwind base;
@tailwind components;
@tailwind utilities;

/* ⭐⭐ Ye line Pura font Poppins kar deti hai ⭐⭐ */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Ensure root div covers everything */
#__next,
main {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-shadow: none !important;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
